header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-bottom: 1px solid #c8c8c8;
  padding: 0;
  background-color: #1f1f1f;
}
.fww-header {
  max-width: 52rem;
  margin: 0 auto;
}
.fww-link {
  color: #e6e6e6;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0.5rem 1rem;
  display: block;
  line-height: 1;
}
.channel-name {
  margin-top: 3rem;
  font-weight: 600;
  font-size: 2rem;
}
